{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="text-center banner d-flex justify-content-center align-items-center" style="background-image: url('{{ asset('/build/images/cinema2.jpg') }}') ;">
		<div class="d-flex-column">
			<h1>Suis tes séries préférées !</h1>
			<p class="font-italic">
				Crée ton compte
			</p>
		</div>
	</div>
{% endblock %}
