{% extends 'base.html.twig' %}

{% block title %}
	{{ 'comment_edit'|trans }}
{% endblock %}

{% block body %}
	<h1>E{{ 'comment_edit'|trans }}</h1>

	{{ include('comment/_form.html.twig', {'button_label': 'edit'|trans}) }}

	{{ include('comment/_delete_form.html.twig') }}
{% endblock %}
