{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ 'comment_create'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'comment_create'|trans }}</h1>

	{{ include('comment/_form.html.twig') }}

{% endblock %}
