{% extends 'base.html.twig' %}

{% block title %}Catégorie
	{{ categoryName }}
{% endblock %}

{% block body %}
	<h1>Séries de la catégorie
		{{categoryName}}
		:
	</h1>
	<div class="media">
		{% if programs is not empty %}
			{% for program in programs %}
				{% include "program/_cardProgram.html.twig" %}
			{% endfor %}
		{% else %}
			<p>Aucune série trouvée</p>
		{% endif %}
	</div>

	<a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>
{% endblock %}
