{% extends 'base.html.twig' %}

{% block title %}Catégorie
	{{ categoryName }}
{% endblock %}

{% block body %}
	<div class="container d-flex">
		<div class="row col-12 d-flex justify-content-center">
			<div>
				<div>
					<h2 class="purple">Séries de la catégorie
						{{categoryName}}
					</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container col-12 d-flex flex-column m-0 p-0 w-100 m-auto">
		<div class="row col-12 justify-content-center">
			<div class="d-flex flex-column">

				<div class="d-flex col-12 justify-content-left align-self-center mt-3">
					{% if programs is not empty %}
						{% for program in programs %}
							{% include "program/_cardProgram.html.twig" %}
						{% endfor %}
					{% else %}
						<div class="m-auto">Aucune série trouvée</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="mb-2 fixed-bottom">
		<a href="{{ path('category_index') }}">
			<img src="{{ asset('build/images/previous.png') }}" id="returnLogo">
			Retour
		</a>
	</div>
{% endblock %}
