{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Nouvelle série
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle série</h1>

	{{ include('program/_form.html.twig') }}

	<a href="{{ path('app_episode_index') }}">Retour</a>
{% endblock %}
