{% extends 'base.html.twig' %}

{% block title %}
	{{ 'actor_create'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'actor_create'|trans }}</h1>

	{{ include('actor/_form.html.twig') }}
{% endblock %}
