@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$backgroundColor: #F7F3F6;
$mainColor: #BBD686;
$secondColor : #7C0B2B;
$textColor : #000000;

$logoFont : 'Playfair Display',
serif;
$mainFont : 'Raleway',
sans-serif;

$theme-colors: (
    "backgroundColor": $backgroundColor,
    "mainColor": $mainColor,
    "secondColor" : $secondColor,
    "textColor" : $textColor
);

@import "~bootstrap/scss/bootstrap";

body {
    font-family: $mainFont;
}

.avatar {
    width: 30px;
    height: 30px;
}

#logo {
    width: 60px;
}

.brand {
    font-family: $logoFont;
    font-size: 36px;
    font-weight: bold;
}

.collapse {
    font-family: $logoFont;
    font-size: 18px;
}

.banner {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    vertical-align: middle;
}